header {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 40px;
  text-align:center;
  padding-top: : 2em;
}

body {
  background-color: #1a86a1
}

p {
	font-family: Palatino;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
  padding: 1em;
}

#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: : 1em;
}

.portfolio {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1em;
  font-family: Palatino;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	display:flex;
}

.contact{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 10em;
	/*padding: 0.5em 0 0.5em 1em;*/
  font-family: Palatino;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	display:flex;

}

.copyright {
  text-align: left;
  font-family: Palatino;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}
